html {
  background: url(images/backgroundHTML.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#canvas-screen {
  display: none;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  position: absolute;
}
#portada-de-inicio {
  left: 50% !important;
  top: 100% !important;
  transform: translate(-50%, -50%);
  position: absolute;
}
.protein {
  left: 50% !important;
  top: -10% !important;
  transform: translate(-50%, -50%);
  position: absolute;
}
#game-over {
  display: none;
}
#start-game {
  border: none;
  cursor: pointer;
  appearance: none;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
#start-game:hover {
  filter: grayscale(100%);
  transform: translate(-50%, -50%) scale(1.2);
}
div > #start-game {
  left: 50% !important;
  top: -90% !important;
  transform: translate(-50%, -50%);
  position: absolute;
}
#end-game {
  border: 0;
  appearance: none;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
#end-game:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
div > #end-game {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}
#laRoca {
  left: 50% !important;
  top: 70% !important;
  transform: translate(-50%, -50%);
  position: absolute;
}
