
#mainBackground{
    background-image: url("./images/streesBG.jpg");
    height: 97vh;
}

#canvas-screen {
    display: none;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    position:absolute;
}
img {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    position:absolute;
}
#game-over {
    display: none;
}
#start-game {
    border: 0;
    appearance: none;
    background-color: inherit;
    transition: 0.7s ease-out;
}
#start-game:hover {
    transform: scale(1.5);
}

div > #start-game {
    position: absolute;
    top: 300px; 
    right: 750px;
    cursor: pointer;
}

#restart-game {
    border: 0;
    appearance: none;
    background-color: inherit;
    transition: 0.7s ease-out;
}

#restart-game:hover {
    transform: scale(1.5);
}

div > #restart-game {
    position: absolute;
    top: 600px; 
    right: 1000px;
    cursor: pointer;
}